* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
      "wdth" 100;
  color: #2B283A;
  height: 100vh;
  }

body, .header {
  display: grid;
  justify-content: center;
}

a {
    text-decoration: none;
    color: #918E9B;
}
.header {
  width: 100vw;
  background: #F55A5A;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-bottom: 50px;
}

.header img {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.card-info-content-desc {
  font-family: Inter;
  font-size: 0.64rem;
  font-weight: 400;
  line-height: 15.36px;
  text-align: left;
}


.header-title p{
  font-family: Inter;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 17.5px;
  letter-spacing: -0.075em;
}

.bold {
  font-weight: 700;
}

.card {
  min-width: 400px;
  max-width: 500px;
  margin: 1.125em auto 0px auto;
  display: flex;
  flex-direction: row;
  gap: 19px;
  padding-bottom: 1.125em;
  border-bottom: 1px solid #F5F5F5;
}

.card-featured-img {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 0.3125rem;
  width: 125px;
  height: 168px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-info {
  text-align: left;
  margin-block: auto;
  align-items: center;
}


.card-info-point {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.card-info-point-view-location {
  font-size: 0.64rem;
  margin: 0px;
  border-bottom: 1px solid #918E9B;
  padding-bottom: 2px;
}

.card-info-point-icon {
    width: 7px;
    height: 9.55px;
}

.card-info-point-location {
    text-transform: uppercase;
    margin: 0px 0.75em 0px 4px;
    font-size: 0.64rem;
    line-height: 12.39px;
    letter-spacing: 0.17em;
    text-align: left;
}

.card-info-title {
  font-size: 1.562rem;
  line-height: 30.26px;
  margin: 7px 0px 15px 0px;
}

.card-info-title h2 {
    margin: 0px;
}

.card-info-content p {
  font-family: inherit;
  margin: 0px;
}

.card-info-content {
  display: flex;
  flex-direction: column;
  gap: 9px;
}